.label {
  text-align: left;
  min-width: 140px;
  width: 100%;
  font-weight: 600;

  &-important {
    position: relative;

    &::after {
      content: "*";
      position: absolute;
      color: $errorColor;
      top: 5px;
      right: -10px;
    }
  }
  &-search {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      margin: 0 20px;
      background-image: url(/public/icon/icon-search.svg);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 10;
    }
  }
}
.input {
  padding: 12px 20px;
  border: 1px solid $gray300;
  border-radius: 4px;

  &::placeholder {
    color: $gray400;
  }
  &:focus {
    outline-color: $black;
  }

  &-success {
    border: 2px solid $successColor;
    color: $successColor;

    &::placeholder {
      color: $successColor;
    }
  }

  &-error {
    border: 2px solid $errorColor;
    color: $errorColor;

    &::placeholder {
      color: $errorColor;
    }
  }

  &-warning {
    border: 2px solid $warningColor;
    color: $warningColor;

    &::placeholder {
      color: $warningColor;
    }
  }

  &-search {
    width: 100%;
    font-weight: 400;
    border-color: $primaryColor;

    &:hover {
      border-color: $blue500;
      transition: all 0.5s ease;
    }

    &:focus {
      border-color: $primaryColor;
      outline: 2px solid $primaryColor;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &-small {
    max-height: 18px;
  }

  &-large {
    min-height: 24px;
  }
}
