.icon {
  display: block;
  width: 20px;
  height: 20px;

  &__archive {
    background-image: url(../../public/icon/icon-archive.svg);
  }
  &__unarchive {
    background-image: url(../../public/icon/icon-unarchive.svg);
  }
}
