@import "./reset.scss";
@import "./App.scss";
@import "./variables.scss";
@import "./Layout.scss";
@import "./button.scss";
@import "./Status.scss";
@import "./Todo.scss";
@import "./icon.scss";
@import "./input.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
